{% load staticfiles %}
<html lang="zh">

<head>
    <link href="/static/css/my.css" rel="stylesheet">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>肥仔掌柜</title>

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

    <!-- Styles -->
    <link href="/static/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/lib/themify-icons.css" rel="stylesheet">
    <link href="/static/css/lib/owl.carousel.min.css" rel="stylesheet"/>
    <link href="/static/css/lib/owl.theme.default.min.css" rel="stylesheet"/>
    <link href="/static/css/lib/weather-icons.css" rel="stylesheet"/>
    <link href="/static/css/lib/mmc-chat.css" rel="stylesheet"/>
    <link href="/static/css/lib/sidebar.css" rel="stylesheet">
    <link href="/static/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/lib/simdahs.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">


</head>

<body>
<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
    <div class="nano">
        <div class="nano-content">
            <ul>
                <li><a href="/"><i class="ti-home"></i> 主页 </a></li>
                <li><a class="sidebar-sub-toggle"><i class="ti-layout"></i> 预设方案 <span
                        class="sidebar-collapse-icon ti-angle-down"></span></a>
                    <ul>
                        <li><a href="/asrplan/online/">线上</a></li>
                        <li><a href="/asrplan/tv/">影视</a></li>
                        <li><a href="/asrplan/kid/">儿童</a></li>
                        <li><a href="/asrplan/common/">通用</a></li>
                    </ul>
                </li>
                <li><a class="sidebar-sub-toggle"><i class="ti-panel"></i> 其他工具 <span
                        class="sidebar-collapse-icon ti-angle-down"></span></a>
                    <ul>
                        <li><a href="/asr-tools/asr-compare/">结果对比</a></li>
                        <li><a href="/asr-tools/asr-online-debug/">线上debug</a></li>
                        <li><a href="/asr-tools/lm_grade/">唤醒词打分</a></li>
                        <li><a href="/asr-tools/onetest/" style="color: red">单条调试</a></li>
                        <li><a href="/asr-tools/asr-regression/" style="color: red">LIBS回归</a></li>
                    </ul>
                </li>


                <li><a class="sidebar-sub-toggle"><i class="ti-layout-grid4-alt"></i> 资源管理 <span
                        class="sidebar-collapse-icon ti-angle-down"></span></a>
                    <ul>
                        <li><a href="/resouse/git/">git仓库</a></li>
                        <li><a href="/resouse/testset/">测试集</a></li>
                    </ul>
                </li>
                <li><a href="/settings/"><i class="ti-settings"></i> 设置 </a></li>

            </ul>
        </div>
    </div>
</div><!-- /# sidebar -->
<div class="header">
    <div class="pull-left">
        <div class="logo" id="sideLogo">
            <a href="/">
                <img class="full-logo" src="/static/images/logo-big.png" alt="肥仔掌柜">
                <img class="small-logo" src="/static/images/logo-small.png" alt="肥仔掌柜">
            </a>
        </div>
        <div class="hamburger sidebar-toggle">
            <span class="ti-menu"></span>
        </div>
    </div>
</div>


<script src="/static/js/BASE.js"></script>
<script src="/static/js/lib/jquery.min.js"></script><!-- jquery vendor -->
<script src="/static/js/lib/jquery.nanoscroller.min.js"></script><!-- nano scroller -->
<script src="/static/js/lib/sidebar.js"></script><!-- sidebar -->
<script src="/static/js/lib/bootstrap.min.js"></script><!-- bootstrap -->
<script src="/static/js/lib/mmc-common.js"></script>
<script src="/static/js/lib/mmc-chat.js"></script>
<!--  Chart js -->
<script src="/static/js/lib/chart-js/Chart.bundle.js"></script>
<script src="/static/js/lib/chart-js/chartjs-init.js"></script>
<!-- // Chart js -->


<script src="/static/js/lib/sparklinechart/jquery.sparkline.min.js"></script><!-- scripit init-->
<script src="/static/js/lib/sparklinechart/sparkline.init.js"></script><!-- scripit init-->

<!--  Datamap -->
<script src="/static/js/lib/datamap/d3.min.js"></script>
<script src="/static/js/lib/datamap/topojson.js"></script>
<script src="/static/js/lib/datamap/datamaps.world.min.js"></script>
<script src="/static/js/lib/datamap/datamap-init.js"></script>
<!-- // Datamap -->-->
<script src="/static/js/lib/weather/jquery.simpleWeather.min.js"></script>
<script src="/static/js/lib/weather/weather-init.js"></script>
<script src="/static/js/lib/owl-carousel/owl.carousel.min.js"></script>
<script src="/static/js/lib/owl-carousel/owl.carousel-init.js"></script>
<script src="/static/js/lib/sweetalert/sweetalert.min.js"></script>
<script src="/static/js/lib/sweetalert/sweetalert.init.js"></script>
<script src="/static/js/scripts.js"></script><!-- scripit init-->
</body>
</html>